 <nav aria-label="Skip Link and Accessibility Options" id="controls" class="default-grid">
  <ul>
    <li><a href="#main"><svg aria-hidden="true" class="icon-chevron-down "><use xlink:href="{{ "/assets/images/icons.svg#icon-chevron-down" | prepend: site.baseurl }}"></use></svg> Skip to Content</a></li>
    <li><a href="#">Change Text Size or Colors</a></li>
  </ul>
</nav>
<header id="site-header" class="default-grid with-gap">
  <div class="logos">
  <img src="{{ "/assets/images/w3c.svg" | prepend: site.baseurl }}" alt="W3C">
  <span class="wai"><span class="wa">Web Accessibility</span> <span class="i">Initiative</span></span>
</div>

  <div class="navigations">
  <nav class="metanav" label="Meta &amp; Search">
    <ul>
      <li><a href="#">About W3C WAI</a></li>
      <li><a href="#">Get Involved</a></li>
      <li>
        <form action="#" role="search">
          <label for="header-search">
            <span class="l">Search:</span>
            <input id="header-search" type="search" results="10" autosave="waisearches" placeholder="e.g. Tutorials">
          </label>
          <button class="button button-icon button-nobg button-noborder"><span><svg aria-hidden="true" class="icon-search "><use xlink:href="{{ "/assets/images/icons.svg#icon-search" | prepend: site.baseurl }}"></use></svg></span></button>
        </form>
      </li>
    </ul>
  </nav>
  <nav class="mainnav" label="Main">
    <ul>
      <li>
        <a href="#"><span>Menu 1</span></a>
      </li>
      <li>
        <a href="#"><span>Menu 2</span></a>
      </li>
      <li>
        <a href="#"><span>Menu 3</span></a>
      </li>
      <li>
        <a href="#"><span>Menu 4</span></a>
      </li>
      <li>
        <a href="#"><span>Menu 5</span></a>
      </li>
      <li>
        <a href="#"><span>Menu 6</span></a>
      </li>
    </ul>
  </nav>
</div>

</header>

<nav class="breadcrumb default-grid" label="Breadcrumb">
  <ul class="default-container">
    <li><a href="#">Home</a></li>
    <li><a href="#">Path</a></li>
    <li><a href="#">To</a></li>
    <li><a href="#main" aria-current="page">Page</a></li>
  </ul>
</nav>
